* {
  box-sizing: border-box;
}
body {
  background-color: #fff;
  font-size: 20px;
}

header {
  font-family: "Lobster", cursive;
  font-weight: 100;
  font-size: 48px;
  letter-spacing: 1.5px;
  margin: auto;
  padding: 20px 80px 20px 80px;
  background-color: #ffc93c;
  text-align: left;
  position: sticky;
  top: 0;
  height: 120px;
}

.cart {
  width: 25%;
  font-family: "Oswald", sans-serif;
  background-color: #40a8c4;
  margin: 10px 0 10px 10px;
  height: 660px;
  box-shadow: 0 4px 8px 0 #00000033;
  padding: 20px;
}

.container {
  display: flex;
  width: 100%;
  height: 700px;
}

.catalog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: row; */
  margin: 10px 0px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 #00000033;
}
.card img {
  width: 220px;
  height: 240px;
}
.content {
  font-family: "Peddana", serif;
  font-size: 25px;
  width: 75%;
  text-align: center;
}

.btn {
  padding: 10px;
  font-size: 15px;
  font-weight: 600;
}

footer {
}
