* {
  box-sizing: border-box;
}
body {
  background-color: #fff;
  font-size: 20px;
}

header {
  font-family: "Lobster", cursive;
  font-weight: 100;
  font-size: 48px;
  letter-spacing: 1.5px;
  margin: auto;
  padding: 20px 80px 20px 80px;
  background-color: #ffc93c;
  text-align: left;
  position: sticky;
  top: 0;
  height: 120px;
}

.shoppingcart {
  width: 35%;
  font-family: "Oswald", sans-serif;
  background-color: #d9ecf2;
  height: 710px;
  box-shadow: 0 4px 8px 0 #00000033;
  padding: 20px;
  margin: 10px 0 10px 10px;
  letter-spacing: 1px;
}

.container {
  display: flex;
  width: 100%;
  height: 750px;
}

.catalog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: row; */
  margin: 10px 0px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 #00000033;
}
.card img {
  width: 220px;
  height: 240px;
}

.content {
  font-family: "Peddana", serif;
  font-size: 25px;
  width: 75%;
  text-align: center;
}

.btn {
  padding: 10px;
  font-size: 15px;
  font-weight: 600;
}

.orderSummary {
  margin-top: 20px;
  background-color: #f6f6f6;
  padding: 20px;
  height: 400px;
}

.proceed {
  display: grid;
  margin-top: 30px;
  place-items: center;
  width: 100%;
}

.checkout {
  text-decoration: none;
  background-color: #000;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  margin-top: 20px;
  width: 80%;
  text-align: center;
}

.continue {
  text-decoration: none;
  color: #000;
  padding: 10px 20px;
  border-bottom: 1px solid #000;
  width: 200px;
  margin-top: 10px;
}

.addtocart {
  position: sticky;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-top: 60px;
  width: 100%;
  place-items: center;
  cursor: pointer;
}

.addtocart ion-icon {
  width: 30px;
  height: 30px;
}
/* 
.addtocart a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
} */

/* Ribbon SPAN Qty Update */

.ribbon {
  font-size: 1.5em;
  width: 3.9em;
  height: 1.7em;
  text-align: center;
  padding: 0.35em 0;
  border-radius: 0.3em;
  position: relative;
  bottom: 40px;
  left: 30px;
  /* background: #ffc93c; */
  transform: rotateZ(0deg);
  backface-visibility: hidden;
  color: #000;
  display: none;
  cursor: pointer;
}

input[type="text"] {
  width: 30px;
  height: 30px;
  position: relative;
  bottom: 10px;
  text-align: center;
}

/* 
.ribbon {
  display: none;
  position: relative;
  bottom: 0px;
  background-color: #ffc93c;
  text-align: center;
  transform: translateY(-100%) rotate(145deg) translateX(70.71067811865476%)
    rotate(-145deg);
  transform-origin: bottom right;
} */
